<div #listContainer
     class="list-container"
     [ngClass]="{'loading': loading}"
     (mousedown)="$event.clientX - listContainer.getBoundingClientRect().left >= listContainer.clientWidth ? stopMouseDownPropagation = true : null">

    <div *ngIf="loading" class="list-spinner">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>

    <div *ngFor="let editableCheckboxListItem of items">
        <ns-editable-checkbox-list-item #listItemComponent
                                        (onDoubleClick)="edit()"
                                        (onInput)="onInput($event)"
                                        (showSpinner)="loading = true"
                                        [item]="editableCheckboxListItem"
                                        (onMouseDown)="selectItem($event)"
                                        (addedItemEvent)="onItemAdded($event)"
                                        (reinitializeItems)="reinitializeItems()"
                                        (addedItemsEvent)="onItemsAdded($event)"
                                        (editedItemEvent)="onItemEdited($event)"
                                        (removeNewItem)="removeNewItem()"
                                        (checkboxChangedEvent)="checkboxChangedEvent.emit($event)"
                                        (setAllItemsEnableState)="setAllItemsEnableState($event)"
                                        (stopMouseDownPropagation)="stopMouseDownPropagation = true"
                                        (setCheckboxListItemsCheckboxEnableState)="setCheckboxListItemsCheckboxEnableState($event)">
        </ns-editable-checkbox-list-item>
    </div>
</div>