<div #itemElement
     tabindex="-1"
     class="list-item"
     (mousedown)="onItemDown($event)"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection}">
     
     <div #itemTextElement
          class="list-item-text"
          >{{item.text}}</div>
</div>