<div #htmlElement
     tabindex="-1"
     class="list-item"
     (paste)="this.onPaste($event)"
     (dblclick)="onDoubleClick.emit()"
     (keydown)="this.getTextCaretPosition()"
     (mouseup)="this.getTextCaretPosition()"
     (contextmenu)="$event.preventDefault()"
     [contentEditable]="this.inEditMode == true"
     (input)="onInput.emit(htmlElement.innerText)"
     [ngClass]="{'edited-list-item': this.inEditMode,
                 'disabled-list-item': !this.isEnabled,
                 'unselected-list-item': this.hasUnselection,
                 'list-primary-selection': this.hasPrimarySelection && this.hasSecondarySelection,
                 'list-secondary-selection-all': this.secondarySelectionType == SecondarySelectionType.All,
                 'list-secondary-selection-top': this.secondarySelectionType == SecondarySelectionType.Top,
                 'list-primary-selection-border-only': this.hasPrimarySelection && !this.hasSecondarySelection,
                 'list-secondary-selection-middle': this.secondarySelectionType == SecondarySelectionType.Middle,
                 'list-secondary-selection-bottom': this.secondarySelectionType == SecondarySelectionType.Bottom}"
     (mousedown)="onListItemDown($event); this.getTextCaretPosition()"
     [ngStyle]="{'display': this.listPasted ? 'block' : null, 'height': this.listPasted ? 'fit-content' : null}">{{listItem.text}}</div>