<div style="display: flex; padding: 20px;">

  <!-- List -->
  <div style="width: 320px; margin-right: 50px;">
    <div style="display: flex; margin-bottom: 15px; justify-content: space-between;">
      <button (click)="list.add()" (mousedown)="list.stopMouseDownPropagation = true">Add Item</button>
      <button (click)="list.edit()" (mousedown)="list.stopMouseDownPropagation = true">Edit Item</button>
      <button (click)="deleteListItems()" (mousedown)="list.stopMouseDownPropagation = true">Delete Item</button>
    </div>

    <div style="background: #282828; padding: 10px; border: 1px solid #414141; border-radius: 4px;">
      <div style="height: 262px; background: #1e1e1e; border-radius: 3px; border: 1px solid black; border-right-color: #3c3c3c; border-bottom-color: #3c3c3c;">
        
        <ns-editable-list #list
                          (selectedItemsEvent)="onSelectedListItems($event)">
        </ns-editable-list>
      </div>
    </div>
  </div>

  <!-- Hierarchy -->
  <div style="width: 320px;">
    <div style="display: flex; margin-bottom: 10px; justify-content: space-around; padding: 0 12px 0 12px;">
      <button (click)="hierarchy.add()" (mousedown)="hierarchy.stopMouseDownPropagation = true">Add Niche</button>
      <button (click)="hierarchy.add(1, true)" (mousedown)="hierarchy.stopMouseDownPropagation = true">Add Subniche</button>
      <button (click)="hierarchy.add(2)" (mousedown)="hierarchy.stopMouseDownPropagation = true">Add Product</button>
    </div>
    <div style="display: flex; margin-bottom: 10px; justify-content: space-around; padding: 0 74px 0 74px;">
      <button (click)="hierarchy.edit()" (mousedown)="hierarchy.stopMouseDownPropagation = true">Edit Item</button>
      <button (click)="deleteHierarchyItems()" (mousedown)="hierarchy.stopMouseDownPropagation = true">Delete Item</button>
    </div>

    <div style="background: #282828; padding: 10px; border: 1px solid #414141; border-radius: 4px;">
      <div style="height: 262px; background: #1e1e1e; border-radius: 3px; border: 1px solid black; border-right-color: #3c3c3c; border-bottom-color: #3c3c3c;">
        
        <ns-editable-hierarchy-list #hierarchy
                                    (selectedItemsEvent)="onSelectedHierarchyItems($event)"
                                    (hierarchyCollapseStateUpdatedEvent)="onHierarchyCollapseStateUpdated($event)">
        </ns-editable-hierarchy-list>
      </div>
    </div>
  </div>
</div>