<div style="display: flex; margin: 15px 0 30px 5px;">
  <button style="margin-right: 20px;" (click)="onAddListItemButtonClick()" (mousedown)="listComponent.stopMouseDownPropagation = true">Add List Item</button>
  <button style="margin-right: 20px;" (click)="onEditListItemButtonClick()" (mousedown)="listComponent.stopMouseDownPropagation = true">Edit List Item</button>
  <button style="margin-right: 20px; user-select: none;" (click)="listComponent.getListItemsToBeDeleted()" (mousedown)="listComponent.stopMouseDownPropagation = true">Delete List Item</button>
</div>



<div style="display: flex; padding: 20px;">

  <div style="background: #282828; padding: 10px; border: 1px solid #414141; border-radius: 4px; margin-right: 100px;">
    <div style="width: 300px; height: 262px; background: #1e1e1e; border-radius: 3px; border: 1px solid black; border-right-color: #3c3c3c; border-bottom-color: #3c3c3c;">
      
      <!-- <ns-list #list
               [list]="testList"
               [noSelectOnArrowKey]="true"
               (selectedItemsEvent)="onSelectedItems($event)">
      </ns-list> -->



      <!-- <ns-image-list #list
               [list]="imageList"
               [noSelectOnArrowKey]="true"
               (selectedItemsEvent)="onSelectedItems($event)">
      </ns-image-list> -->

      

      <!-- <ns-editable-list #list
                        [list]="testList"
                        [noSelectOnArrowKey]="false"
                        (addedListItemEvent)="onListItemAdded($event)"
                        (selectedItemsEvent)="onSelectedItems($event)"
                        (editedListItemEvent)="onListItemEdited($event)"
                        (pastedListItemsEvent)="onPastedListItems($event)"
                        (deletedListItemsEvent)="onDeletedListItems($event)"
                        (listItemsToBeDeletedEvent)="onListItemsToBeDeleted($event)">
      </ns-editable-list> -->

      <!-- <ns-editable-checkbox-list #list
                                 [list]="checkboxList"
                                 [noSelectOnArrowKey]="false"
                                 (addedListItemEvent)="onCheckboxListItemAdded($event)"
                                 (editedListItemEvent)="onCheckboxListItemEdited($event)"
                                 (pastedListItemsEvent)="onPastedListItems($event)"
                                 (checkboxChangedEvent)="onCheckboxChanged($event)"
                                 (deletedListItemsEvent)="onDeletedListItems($event)"
                                 (listItemsToBeDeletedEvent)="onListItemsToBeDeleted($event)">
      </ns-editable-checkbox-list> -->


      <ns-editable-hierarchy-list #list
                                  [list]="testList"
                                  [noSelectOnArrowKey]="false"
                                  (addedListItemEvent)="onListItemAdded($event)"
                                  (selectedItemsEvent)="onSelectedItems($event)"
                                  (editedListItemEvent)="onListItemEdited($event)"
                                  (pastedListItemsEvent)="onPastedListItems($event)"
                                  (deletedListItemsEvent)="onDeletedListItems($event)"
                                  (listItemsToBeDeletedEvent)="onListItemsToBeDeleted($event)">
      </ns-editable-hierarchy-list>



      

    </div>
  </div>


  


  <!-- <div style="width: 164px; height: 186px; margin-right: 100px;  background: rgba(22, 22, 22, 0.945); border-radius: 5px; border: 1px solid #424242; padding: 2px;">
    <ns-icon-font-list #list
                       [list]="iconFontList"
                       [noSelectOnArrowKey]="true"
                       (selectedItemsEvent)="onSelectedItems($event)">
    </ns-icon-font-list>
  </div> -->



  
</div>