<div style="display: flex; margin: 15px 0 30px 5px;">
  <button style="margin-right: 20px;" (click)="onAddListItem()" (mousedown)="listComponent.stopMouseDownPropagation = true">Add List Item</button>
  <button style="margin-right: 20px;" (click)="onEditListItem()" (mousedown)="listComponent.stopMouseDownPropagation = true">Edit List Item</button>
  <button style="margin-right: 20px; user-select: none;" (click)="listComponent.getListItemsToBeDeleted()" (mousedown)="listComponent.stopMouseDownPropagation = true">Delete List Item</button>
</div>



<div style="display: flex; padding: 20px;">

  <div style="background: #282828; padding: 10px; border: 1px solid #414141; border-radius: 4px; margin-right: 100px;">
    <div style="width: 300px; height: 262px; background: #1e1e1e; border-radius: 3px; border: 1px solid black; border-right-color: #3c3c3c; border-bottom-color: #3c3c3c;">
      
      <ns-trumpy-list [list]="testList"></ns-trumpy-list>

      <!-- <ns-list #list
               [list]="testList"
               [noSelectOnArrowKey]="true"
               (loadListEvent)="onLoadList()"
               (selectedItemsEvent)="onSelectedItems($event)">
      </ns-list> -->

      <!-- <ns-editable-list-container #list
               [list]="testList"
               [noSelectOnArrowKey]="false"
               (loadListEvent)="onLoadList()"
               (addedListItemEvent)="onListItemAdded($event)"
               (selectedItemsEvent)="onSelectedItems($event)"
               (editedListItemEvent)="onListItemEdited($event)"
               (pastedListItemsEvent)="onPastedListItems($event)"
               (deletedListItemsEvent)="onDeletedListItems($event)"
               (listItemsToBeDeletedEvent)="onListItemsToBeDeleted($event)">
      </ns-editable-list-container> -->

      <!-- <ns-editable-checkbox-list #list
               [list]="testList"
               [noSelectOnArrowKey]="false"
               (loadListEvent)="onLoadList()"
               (addedListItemEvent)="onListItemAdded($event)"
               (selectedItemsEvent)="onSelectedItems($event)"
               (editedListItemEvent)="onListItemEdited($event)"
               (pastedListItemsEvent)="onPastedListItems($event)"
               (deletedListItemsEvent)="onDeletedListItems($event)"
               (listItemsToBeDeletedEvent)="onListItemsToBeDeleted($event)">
      </ns-editable-checkbox-list> -->

    </div>
  </div>
</div>


<ns-checkbox [label]="'This is the checkbox label'"></ns-checkbox>


