<div #listContainer
     class="list-container"
     (scroll)="onScroll(listContainer)"
     (mousedown)="$event.clientX - listContainer.getBoundingClientRect().left >= listContainer.clientWidth ? stopMouseDownPropagation = true : null">

    <div *ngFor="let listItem of list; trackBy:onTrackBy">
        <ns-list-item #listItemComponent
                      [listItem]="listItem"
                      (onDoubleClick)="editListItem()"
                      (onMouseDown)="stopMouseDownPropagation = true; $event ? selectListItem($event) : null">
        </ns-list-item>
    </div>
</div>