<div #listItemElement
     class="checkbox-list-item"
     (dblclick)="onDoubleClick.emit()"
     (mousedown)="onListItemDown($event)"
     [tabindex]="!inEditMode ? '-1' : null"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'edited-list-item': inEditMode,
                 'disabled-list-item': !isEnabled,
                 'unselected-list-item': hasUnselection,
                 'list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'list-secondary-selection-top': secondarySelectionType == SecondarySelectionType.Top,
                 'list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection,
                 'list-secondary-selection-middle': secondarySelectionType == SecondarySelectionType.Middle,
                 'list-secondary-selection-bottom': secondarySelectionType == SecondarySelectionType.Bottom}"
     [ngStyle]="{'display': listPasted ? 'block' : 'flex', 'height': listPasted ? 'fit-content' : null}">
     
     <div class="checkbox-container" (mousedown)="stopItemSelectionPropagation = true">
          <ns-checkbox [isChecked]="listItem.isChecked"
                       (checkboxChangedEvent)="listItem.isChecked = $event; checkboxChangedEvent.emit(listItem)">
          </ns-checkbox>
     </div>

     <div #listItemTextElement
          class="checkbox-list-item-text"
          (paste)="onPaste($event)"
          (keydown)="getTextCaretPosition()"
          (mouseup)="getTextCaretPosition()"
          (mousedown)="getTextCaretPosition()"
          [contentEditable]="inEditMode == true"
          [ngClass]="{'edited-list-item-text': inEditMode}"
          (input)="onInput.emit(listItemTextElement.innerText)"
          >{{listItem.text}}</div>
</div>