<div #itemElement
     class="list-item"
     (dblclick)="onItemDoubleClick()"
     (mousedown)="onItemDown($event)"
     [tabindex]="!inEditMode ? '-1' : null"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'edited-list-item': inEditMode,
                 'disabled-list-item': !isEnabled,
                 'unselected-list-item': hasUnselection,
                 'list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection,
                 'list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'list-secondary-selection-top': secondarySelectionType == SecondarySelectionType.Top,
                 'list-secondary-selection-middle': secondarySelectionType == SecondarySelectionType.Middle,
                 'list-secondary-selection-bottom': secondarySelectionType == SecondarySelectionType.Bottom}"
     [ngStyle]="{'display': multipleItemsPasted ? 'block' : 'flex', 'height': multipleItemsPasted ? 'fit-content' : null}">
     
     <div class="checkbox-component-container"
          (mousedown)="stopItemSelectionPropagation = true"
          (dblclick)="stopItemDoubleClickPropagation = true">
          
          <ns-checkbox [isEnabled]="isCheckboxEnabled"
                       [isChecked]="item.isChecked"
                       [disabledOpacity]="inEditMode ? 0.25 : 1"
                       (checkboxChangedEvent)="item.isChecked = $event; checkboxChangedEvent.emit(item)">
          </ns-checkbox>
     </div>

     <div #itemTextElement
          (paste)="onPaste($event)"
          class="checkbox-list-item-text"
          (keydown)="getTextCaretPosition()"
          (mouseup)="getTextCaretPosition()"
          (mousedown)="getTextCaretPosition()"
          [contentEditable]="inEditMode == true"
          [ngClass]="{'edited-list-item-text': inEditMode}"
          (input)="onInput.emit(itemTextElement.innerText)"
          >{{item.text}}</div>
</div>