<div #listItemElement
     class="list-item"
     *ngIf="!isHidden"
     (dblclick)="onListItemDoubleClick()"
     (mousedown)="onListItemDown($event)"
     [tabindex]="!inEditMode ? '-1' : null"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'edited-list-item': inEditMode,
                 'disabled-list-item': !isEnabled,
                 'unselected-list-item': hasUnselection,
                 'list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection,
                 'list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'list-secondary-selection-top': secondarySelectionType == SecondarySelectionType.Top,
                 'list-secondary-selection-middle': secondarySelectionType == SecondarySelectionType.Middle,
                 'list-secondary-selection-bottom': secondarySelectionType == SecondarySelectionType.Bottom}"
     [ngStyle]="{'display': listPasted ? 'block' : 'flex', 'height': listPasted ? 'fit-content' : null}">

     <div [style.paddingLeft.px]="listItem.tier * 35"
          class="hierarchy-arrow-component-container"
          (mousedown)="stopListItemSelectionPropagation = true"
          (dblclick)="stopListItemDoubleClickPropagation = true">
          
          <ns-hierarchy-arrow [isEnabled]="isArrowEnabled"
                              [isArrowDown]="isArrowDown"
                              [disabledOpacity]="inEditMode ? 0.25 : 1"
                              *ngIf="listItem.tier == 0 || listItem.isParent"
                              (arrowChangedEvent)="isArrowDown = $event; arrowChangedEvent.emit(this)">
          </ns-hierarchy-arrow>
     </div>
     
     <div #listItemTextElement
          (paste)="onPaste($event)"
          class="hierarchy-list-item-text"
          (keydown)="getTextCaretPosition()"
          (mouseup)="getTextCaretPosition()"
          (mousedown)="getTextCaretPosition()"
          [contentEditable]="inEditMode == true"
          [ngClass]="{'edited-list-item-text': inEditMode}"
          (input)="onInput.emit(listItemTextElement.innerText)"
          >{{listItem.text}}</div>
</div>