<div #itemElement
     tabindex="-1"
     class="image-list-item"
     (mousedown)="onItemDown($event)"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'image-list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'image-list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection,
                 'image-list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All}">
     
     <div class="image-container">
          <img [src]="'images/' + item.image">
     </div>
     
     <div #itemTextElement
          class="list-item-text"
          >{{item.text}}</div>
</div>