<div #listItemElement
     tabindex="-1"
     class="image-list-item"
     (mousedown)="onListItemDown($event)"
     (contextmenu)="$event.preventDefault()"
     [ngClass]="{'image-list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'image-list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'image-list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection}">
     

     <div class="image-container">
          <img [src]="'images/' + listItem.image">
     </div>
     

     <div #listItemTextElement
          class="list-item-text"
          >{{listItem.text}}</div>
</div>