.list-container {
    height: 100%;
    overflow-y: auto;
    position: relative;
}



.list-item {
    outline: none;
    display: flex;
    user-select: none;
    align-items: center;
    cursor: $list-cursor;
    color: $list-text-color;
    height: $list-item-height;
    border: $list-selection-border-width solid transparent;

    &:hover:not(.edited-list-item):not(.unselected-list-item):not(.list-primary-selection):not(.list-secondary-selection-all):not(.list-secondary-selection-top):not(.list-secondary-selection-middle):not(.list-secondary-selection-bottom):not(.list-primary-selection-border):not(.disabled-list-item) {
        color: $list-hover-text-color;
        background: $list-hover-color;
    }
}



.list-item-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $list-font-size;
    font-family: $list-font-family;
    padding-left: $list-indent - $list-selection-border-width;
}



.list-primary-selection {
    color: $list-selection-text-color;
    border-color: $list-selection-border-color;
    background: $list-selection-background-color;
}



.list-primary-selection-border-only {
    color: $list-selection-text-color;;
    border-color: $list-selection-border-color;
}



.unselected-list-item {
    color: $list-text-color;
    border-color: $list-selection-border-color;

    &:hover {
        color: $list-hover-text-color;
        background: $list-hover-color;
    }
}



.list-secondary-selection-top:not(.list-primary-selection) {
    border-bottom: hidden;
    color: $list-secondary-selection-text-color;
    border-color: $list-secondary-selection-border-color;
    background: $list-secondary-selection-background-color;
}



.list-secondary-selection-middle:not(.list-primary-selection) {
    border-top: hidden;
    border-bottom: hidden;
    color: $list-secondary-selection-text-color;
    border-color: $list-secondary-selection-border-color;
    background: $list-secondary-selection-background-color;
}



.list-secondary-selection-bottom:not(.list-primary-selection) {
    border-top: hidden;
    color: $list-secondary-selection-text-color;
    border-color: $list-secondary-selection-border-color;
    background: $list-secondary-selection-background-color;
}



.list-secondary-selection-all:not(.list-primary-selection) {
    color: $list-secondary-selection-text-color;
    border-color: $list-secondary-selection-border-color;
    background: $list-secondary-selection-background-color;
}



.edited-list-item {
    color: $list-edited-item-text-color;
    border-color: $list-edited-item-border-color;
    background: $list-edited-item-background-color;
}



.edited-list-item-text {
    outline: none;
    text-overflow: unset;
}



.disabled-list-item {
    opacity: $list-disabled-opacity;
}



.list-spinner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: 30px;
    color: #dadada;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(30, 30, 30, 0.8);
}



.loading {
    overflow-y: hidden;
}



.pasted-list-item {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    height: $list-item-height;
}