
// ===================================== LIST ===================================== \\

// ----Website----
// $list-indent: 5px;
// $list-cursor: pointer;
// $list-font-size: 14px;
// $list-item-height: 22px;
// $list-text-color: #b4b4b4;
// $list-selection-border-width: 1px;
// $list-hover-text-color: #e7e7e7;
// $list-selection-text-color: white;
// $list-hover-color: rgba(255, 255, 255, 0.03);
// $list-font-family: Arial, Helvetica, sans-serif;
// $list-selection-border-color: #c518ab;
// $list-selection-background-color: rgba(255, 0, 217, 0.35);
// $list-secondary-selection-border-color: transparent;
// $list-secondary-selection-background-color: rgba(255, 0, 217, 0.35);






// ----Manager----
$list-indent: 5px;
$list-cursor: auto;
$list-font-size: 14px;
$list-item-height: 26px;
$list-text-color: #a0a0a0;
$list-selection-border-width: 1px;
$list-hover-text-color: #d2d2d2;
$list-selection-text-color: white;
$list-hover-color: rgba(255, 186, 0, 0.03);
$list-font-family: Arial, Helvetica, sans-serif;
$list-selection-border-color: rgba(255, 186, 0, 0.85);
$list-selection-background-color: rgba(255, 186, 0, 0.1);
$list-secondary-selection-border-color: rgba(255, 186, 0, 0.25);
$list-secondary-selection-background-color: rgba(255, 186, 0, 0.05);



// Editable List
$list-disabled-opacity: 0.25;
$list-edited-item-text-color: #dcdcdc;
$list-edited-item-background-color: #2b2b2b;
$list-secondary-selection-text-color: #d2d2d2;
$list-edited-item-border-color: rgba(255, 186, 0, 0.25);


// -----Icon Font-----
$icon-font-color: #8a0077;
$icon-font-container-width: 25px;
$icon-font-list-item-height: 30px;
$icon-font-hover-color: #c800b1;
$icon-font-selection-color: #f193f1;




// ===================================== CHECKBOX ===================================== \\

// Checkbox
$checkbox-side-margin: 7px;
$checkbox-border-width: 1px;
$checkbox-border-radius: 2px;
$checkbox-label-font-size: 14px;
$checkbox-container-height: 26px;
$checkbox-disabled-opacity: 0.25;
$checkbox-container-padding-left: 5px;
$checkbox-container-padding-right: 0;
$checkbox-label-color: #a0a0a0;
$checkbox-checkmark-color: #ffba00;
$checkbox-label-hover-color: #d2d2d2;
$checkbox-border-color: #505050;
$checkbox-label-font-family: Arial, Helvetica, sans-serif;
$checkbox-checkmark-hover-color: #ffd666;
$checkbox-background-color: #282828;
$checkbox-hover-background-color: rgba(255, 255, 255, 0.03);
$checkbox-border-hover-color: #828282;
$checkbox-focus-outline-color: #808080;
$checkbox-background-hover-color: #3c3c3c;
$checkbox-border-checked-color: #646464;
$checkbox-background-checked-color: #3c3c3c;