<div #listContainer
     class="list-container"
     [ngClass]="{'loading': loading}"
     (mousedown)="$event.clientX - listContainer.getBoundingClientRect().left >= listContainer.clientWidth ? stopMouseDownPropagation = true : null">

    <div *ngIf="loading" class="list-spinner">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>

    <div *ngFor="let editableHierarchyListItem of list">
        <ns-editable-hierarchy-list-item #listItemComponent
                                         (onDoubleClick)="edit()"
                                         (onInput)="onInput($event)"
                                         (showSpinner)="loading = true"
                                         (addedItemEvent)="onItemAdded($event)"
                                         [listItem]="editableHierarchyListItem"
                                         (onMouseDown)="selectListItem($event)"
                                         (reinitializeList)="reinitializeList()"
                                         (addedItemsEvent)="onItemsAdded($event)"
                                         (editedItemEvent)="onItemEdited($event)"
                                         (arrowChangedEvent)="onArrowChange($event)"
                                         (removeNewListItemFromList)="removeNewListItemFromList()"
                                         (setListItemsEnableState)="setListItemsEnableState($event)"
                                         (stopMouseDownPropagation)="stopMouseDownPropagation = true"
                                         (setHierarchyListItemsArrowEnableState)="setHierarchyListItemsArrowEnableState($event)">
        </ns-editable-hierarchy-list-item>
    </div>
</div>