<div #listContainer
     class="list-container"
     [ngClass]="{'loading': loading}"
     (mousedown)="$event.clientX - listContainer.getBoundingClientRect().left >= listContainer.clientWidth ? stopMouseDownPropagation = true : null">

    <div *ngIf="loading" class="list-spinner">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>

    <div *ngFor="let item of items">
        <ns-editable-hierarchy-list-item [item]="item"
                                         #listItemComponent
                                         (onDoubleClick)="edit()"
                                         (onInput)="onInput($event)"
                                         (showSpinner)="loading = true"
                                         (removeNewItem)="removeNewItem()"
                                         (onMouseDown)="selectItem($event)"
                                         (addedItemEvent)="onItemAdded($event)"
                                         (addedItemsEvent)="onItemsAdded($event)"
                                         (editedItemEvent)="onItemEdited($event)"
                                         (reinitializeItems)="reinitializeItems()"
                                         (arrowChangedEvent)="onArrowChange($event)"
                                         (multiItemPasteAlertEvent)="inputAlertEvent.emit($event)"
                                         (setAllItemsEnableState)="setAllItemsEnableState($event)"
                                         (stopMouseDownPropagation)="stopMouseDownPropagation = true"
                                         (setHierarchyItemsArrowEnableState)="setHierarchyItemsArrowEnableState($event)">
        </ns-editable-hierarchy-list-item>
    </div>
</div>